@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212226;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
}

header {
    background-color: #212226;
  
}

.logo p {
    font-size: 1.8rem;
    color: #CFF250;
    line-height: 0.5;
    margin: 1.5rem 0;
}

header  .navbar {
    padding: 0;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-nav .nav-link {
    font-family: "Lato", sans-serif;
    color : #CFF250;
}

.navbar-nav .nav-link:hover {
    font-family: "Lato", sans-serif;
    color : #fff !important;
}

.navbar-brand {
        color : #CFF250;
}


main {
    padding: 2rem 0;
    }
h2,
h3,
h4 {
    color: #CFF250;
    margin-bottom: 1rem;
}

h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size:2.5rem !important;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    color: #fff;
}

.btn-primary {
    background-color: #CFF250;
    border-color: #CFF250;
    color: #212226;
}

.btn-primary:hover {
    background-color: #212226;
    border-color: #CFF250;
    color: #CFF256;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 3rem;
}

section h2 {
    border-bottom: 2px solid #CFF250;
    padding-bottom: 0.5rem ;
}

section p {
    margin-bottom: 1.5rem;
}


.navbar-toggler-icon {

    background-image: url(/imagens/list.svg);
    background-color: #CFF250;
    border: 0;
}

footer {
    border-top: 2px solid  #CFF250;
    background-color: #212226;
    color: #fff;
}

footer a {
    color: #fff !important;
}

footer a:hover {
    color: #CFF250 !important;
}

footer .bi {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 0.5rem 0;
    }
    
    .row {
        flex-direction: column;
    }

    .row>div {
        margin: 1rem;
    } 
}






